.CR-body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.chats {
    display: flex;
    flex-direction: column;
}

.chatlist-me, .chatlist-you{
    list-style: none;
}

.chats .chat-date-time-me,
.chats .chat-date-time-you{
    font-size: medium;
    text-align: center;
    justify-content: center;
    padding: 2%;
    width: 28%;
    margin-left: 35%;
    border-radius: 0.9375em;
    opacity: 0.6;
    font-size: small;
}

.chats__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chatlist-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0rem;
    justify-content: flex-end;
    padding-right: 0.7rem;
}

.chatlist-you {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    float: left;
    padding: 0rem;
}

.chats-content {
    display: flex;
    align-items: center;
}

.chats-content .img-me {
    width: 3.25em;
    height: 3.25em;
    margin-right: 10px;
    border-radius: 50%;
}

.chats-content .img-you {
    width: 3.25em;
    height: 3.25em;
    margin-right: 10px;
    border-radius: 50%;
}

.chat-priview {
    display: flex;
    flex-direction: column;
}

.chatuser-me {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.chatuser-you {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.chat-last-message-me {
    font-size: 14px;
    background-color: #27374D;
    border-radius: 0.9375em;
    border-top-right-radius: 0;
    color: #fff;
}

.chat-last-message-you {
    font-size: 14px;
    background-color: #27374D;
    border-radius: 0.9375em;
    border-top-left-radius: 0;
    color: #fff;
}

.chat-last-message-me,
.chat-last-message-you{
    margin: 0.5%;
    padding: 3%;
}

.read-num{
    color: #27374D;
    display: inline-block;
}

.chat-date-time-me {
    font-size: 12px;
    color: #808080;
    margin-right: 3%;
}

.chat-next-me,
.chat-next-you{
    display: flex;
    align-items: center;
}

.chat-next-you .read-num {
    margin-right: 10px;
}

.chat__date-time-you {
    font-size: 12px;
    color: #808080;
    margin-left: 3%;
}