*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #27374D;
}

.logo{
    -webkit-animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

#logo {
    display: block;
    margin: 0 auto;
}

img{
    width: 30%;
    height: 30%;
}

.R-box{
    position: relative;
    width: 380px;
    height: 770px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.R-box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 760px;
    background: linear-gradient(0deg,transparent,transparent,
    #526D82,#526D82,#526D82,#526D82,#526D82);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.R-box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 760px;
    background: linear-gradient(0deg,transparent,transparent,
    #526D82,#526D82,#526D82,#526D82,#526D82);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.R-borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

.R-borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 760px;
    background: linear-gradient(0deg,transparent,transparent,
    #DDE6ED,#DDE6ED,#DDE6ED,#DDE6ED,#DDE6ED);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.R-borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 760px;
    background: linear-gradient(0deg,transparent,transparent,
    #DDE6ED,#DDE6ED,#DDE6ED,#DDE6ED,#DDE6ED);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.R-box form{
    position: absolute;
    inset: 4px;
    background: #9DB2BF;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.R-box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.R-box form .R-inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.R-box form .R-inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.R-box form .R-inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.R-box form .R-inputBox input:valid ~ span,
.R-box form .R-inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.R-box form .R-inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.R-box form .R-inputBox input:valid ~ i,
.R-box form .R-inputBox input:focus ~ i{
    height: 44px;
}

.R-box form .R-inputBox1{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.R-box form .R-inputBox1 input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.R-inputBox1 .R-select-box select {
    border: none;
    border-bottom: 1px solid #8f8f8f;
    background: transparent;
    height: 50px;
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
    background-color: #fff;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 8px;
}

.R-inputBox1 .R-select-box select:hover{
    border: none;
    border-bottom: 1px solid #8f8f8f;
    background: transparent;
    height: 50px;
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
}

.R-box form button[type="button"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 150px;
    margin-top: 1%;
    cursor: pointer;
}

.R-box form button[type="button"]:active{
    opacity: 0.8;
}